.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
  flex-wrap: wrap;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;

  li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    &:hover {
      color: #8275a1;
    }
  }
}

.button-group {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.cart-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #ff4d4f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}


/* ===== Responsive ===== */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .button-group {
    display: none;
  }
}
